<div class="card-block">
  <div class="container-timeline-wrapper" >
    <div class="container-timeline" >
      <!--file-->
      <div class="col-md-4">
        <div class="streaming-analyze" >
          <div class="list-group list-twitter"  slimScroll [options]="options">
            <div *ngFor="let data of itemsDay1" >
              <span class="list-group-item">
                    <img src="{{data.image}}" alt="{{data.screen_name}}" class="profile-picture" onerror="this.style.display='none'">
                    <strong class="twitter-name">{{data.name}}</strong>
                     <span class="text-muted">@{{data.screen_name}}</span>
                  <a href="{{data.post_link}}" target="_blank" class="text-muted post-date">{{data.timestamp }} - {{data.type}}</a>
                     <a href="{{data.post_link}}" target="_blank">
                    <p [innerHTML]="data.tweet_text"></p>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="streaming-analyze" >
          <div class="list-group list-twitter"   slimScroll [options]="options">
            <div *ngFor="let data of itemsDay2">
              <span class="list-group-item">
                    <img src="{{data.image}}" alt="{{data.screen_name}}" class="profile-picture" onerror="this.style.display='none'">
                    <strong class="twitter-name">{{data.name}}</strong>
                     <span class="text-muted">@{{data.screen_name}}</span>
                  <a href="{{data.post_link}}" target="_blank" class="text-muted post-date">{{data.timestamp }} - {{data.type}}</a>
                     <a href="{{data.post_link}}" target="_blank">
                    <p [innerHTML]="data.tweet_text"></p>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="streaming-analyze" >
          <div class="list-group list-twitter"  slimScroll [options]="options">
            <div *ngFor="let data of itemsDay3" >
              <span class="list-group-item">
                    <img src="{{data.image}}" alt="{{data.screen_name}}" class="profile-picture" onerror="this.style.display='none'">
                    <strong class="twitter-name">{{data.name}}</strong>
                     <span class="text-muted">@{{data.screen_name}}</span>
                  <a href="{{data.post_link}}" target="_blank" class="text-muted post-date">{{data.timestamp }} - {{data.type}}</a>
                     <a href="{{data.post_link}}" target="_blank">
                    <p [innerHTML]="data.tweet_text"></p>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="container-timeline-page">
      <div class="row-timeline-page">
        <div class="cell-timeline-page text-primary col-md-4" *ngFor="let date of items; let ind = index">{{date.text}}</div>
      </div>
    </div>
    <div class="pull-left left-dir">
      <span class="btn btn-sm btn-default btn-timeday" id="prev-timeday" (click)="prevDay($event)">
            <img height="27%" width="25%" style="float: left" src = 'assets/img/left.png' > 
        </span>
    </div>
    <div class="pull-right right-dir">
      <span class="btn btn-sm btn-default btn-timeday" id="next-timeday" (click)="nextDay($event)">
            <img height="27%" width="25%" style="float: right" src = 'assets/img/right.png' > 
      </span>
    </div>
  </div>
</div>